.App {
  text-align: center;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
}

body{
  background: rgb(38, 155, 155);
}

h1{
  font-size: 24px;
}

.card-container{
  display:inline-block;
  width: fit-content;
  margin:25px;
  padding: 20px;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035);
  background-image: radial-gradient(rgb(80, 173, 173), white) ;
}

.card-container h1{
  font-weight: normal;
  
}

.card-header{
  margin-bottom: 10px;
}

.card-container hr{
  border: none;
  height: 1.5px;
  background-color: black;
}
.card-field {
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.card-answer{
  margin-bottom: 15px;
}
.form-container{
  justify-content: center;
  border: 1px solid #ccc;
  width: fit-content;
  margin: 64px auto;
  padding: 30px;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035);
  background-image: linear-gradient(rgb(29, 172, 136), white) ;
}

.form-field{
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.form-button{
  margin-top: 30px;
  padding: 0 10px;
  cursor: pointer;
}

.form-button:hover{
  border: none;
}

.card-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-update, .card-delete{
  padding: 0 10px;
}
.card-update:hover, .card-delete:hover{
  padding: 0 10px;
  border: none;
  cursor: pointer;
}